/* Essentials */

html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei",Tahoma, Helvetica, Arial, "SimSun", sans-serif;
    background: #F8F8F8;
    font-size: 12px;
/*    min-width:1150px;*/
}
.clear {
    clear: both;
}
.spacer {
    height: 20px;
}

a:link, a:visited {
    color:#000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.hight{
    color:#FF0000;
    font-weight:bold;	
}
em{
    font-style:normal;    
}

/* Header */

header#header {
    height: 70px;
    width: 100%;
}
.lms-header{
    background: linear-gradient(#13a654, #9FD7B2);
    background:-webkit-linear-gradient(top, #13a654 0%,#9FD7B2 100%);
    background:-o-linear-gradient(top, #9bc747 0%,#82bd42 100%);
    background:-ms-linear-gradient(top, #9bc747 0%,#82bd42 100%);
}
.lm-header {
    height: 70px;
    width: 100%;
   background-color: #357CD2;
}
/*全局属性*/
.boxPublic{
    margin: 20px 3% 0;	
}
header#header h1.site_title, header#header h2.section_title {
    float: left;
    margin: 0;
    font-size: 22px;
    display: block;
/*   width: 45%;*/
    max-height: 68px;
    font-weight: normal;
    text-align: left;
    text-indent: 10px;
    line-height: 68px;
    color:#000;
/*    border:1px solid blue;*/
}
header#header h1.site_title{
    width:30%;
}
header#header h1.site_title img{
    padding-top:5px;
}
header#header h1.site_title a {
    color:#FFF;
    font-size:1em;
    text-decoration: none;
}
header#header h2.section_title{
 width:50%;
 text-align:right;

}
header#header h2.section_title:after{
    display:block;
    clear:both;
    content:"";
}


header#header h2.section_title .header-clock{
/*        position:absolute;
	top:3px;
	right:15px;
	width:40%; */
        text-align:right;
        color:#fff;
        font-size:18px;
        display:inline-block;
        margin-right:30px;
}
header#header h2.section_title .welcome
{
	font-size:12px;	
	line-height:35px;
	color:#FFF;
        text-align:right;
/*	position:absolute;
	top:20px;
	right:200px;
	width:50%;*/
	
}
header#header h2.section_title .welcome a{
	color:#FFFFFF;	
	margin-left:0px;
	cursor:pointer;
}
/*@chang_z_f 2013-07-27 edit header start*/
.btn{
    background:#2F3440;
    color:#fff;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    padding:5px 10px;
    border-radius:8px 8px 8px;
float:right;
margin-top:20px;
margin-right:15px;
}
.btn a{text-align:center;color:#fff;margin:0 9px;}

/*@chang_z_f 2013-07-27 edit header end*/

.btn_view_site {
float: left;
width: 9%;
margin-top:0px;
overflow:hidden;
}

.btn_view_site a {
display: block;
margin-top: 12px;
width: 91px;
height: 27px;
background: url(../images/btn_view_site.png) no-repeat;
text-align: center;
line-height: 29px;
color: #fff;
text-decoration: none;
text-shadow: 0 -1px 0 #000;}

.btn_view_site a:hover {
background-position: 0 -27px;
}

/* Secondary Header Bar */

section#secondary_bar {
height: 40px;
width: 100%;
overflow:hidden;
}
.f-bg1{
    color:#fff;
    /*background: url(../images/bg_nav_rep.png) repeat-x;*/
    background-color: #EDEDEE;
    border: 1px #DEE3E7 solid;
    
}
#secondary_bar .nav{
display:inline;
width:100%;
}
.settingvalue input{
	border:1px solid #999;
	height:25px; 
	width:190px;	
}
.settingvalue input[type='checkbox']{
	width:15px;
        height:15px;
}
.settingvalue input[type='radio']{
	width:10px;	
}
#secondary_bar .nav li{
	float:left;
	display:inline-block;
	text-align:center;
	line-height:40px;
	margin-left:15px;
}
#secondary_bar .nav li a{
	height:40px;
	padding:0 15px;
	display:block;
	float:left;
	font-weight:bold;
	font-size:14px;
	/*color:#B2B2B2;*/
}
#secondary_bar .nav li a.selected{
	background:#000;
	color:#FFF;	
}
#secondary_bar .nav li a:hover{
	background:#E0E0E0;
	/*color:#FFF;*/
	text-decoration:none;
}


/* Sidebar */

aside#sidebar {
width: 15%;
background: #E0E0E3 url(../images/sidebar.png) repeat;
float: left;
min-height: 500px;
position:relative;
}

#sidebar hr {
clear:both;
border: none;
outline: none;
background: url(../images/sidebar_divider.png) repeat-x;
display: block;
width: 100%;
height: 2px;
}
#flexButton{
position:absolute;
display:block;
width:12px;
height:26px;
right:-10px;
top:40%;
cursor:pointer;
}
.close{
	background:url(../images/CloseBroadside.gif) no-repeat;
}
.open{
	background:url(../images/OpenBroadside.gif) no-repeat;
}
/* Search */

.quick_search {
text-align: center;
padding: 14px 0 10px 0;
}
.quick_search input[type=text] {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border: 1px solid #bbb;
height: 26px;
width: 90%;
color: #ccc;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
text-indent: 30px;
background: #fff url(../images/icn_search.png) no-repeat;
background-position: 10px 6px;
}

.quick_search input[type=text]:focus {
outline: none;
color: #666666;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* Sidebar Menu */

#sidebar h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 16px;
margin: 10px 0 10px 6%;
display: block;
float: left;
width: 90%;
}

.toggleLink {
color: #999999;
font-size: 12px;
text-decoration: none;
display: block;
float: right;
margin-right: 6%
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}

#sidebar li {
list-style: none;
margin: 0 0 0 12%; padding: 0;
}
#sidebar li a:hover {
color: #444444;
}
.navs{
	width:90%;
	margin:0 auto;
	background:#fff;
	border:1px solid #999;
	border-radius:0 0 4px 4px;	
}
.navs .nav-list dt{
	display:block;
	height:31px;
	width:90%;
	overflow:hidden;
	/*background:url(../images/navbg.gif) repeat-x;*/
	border:1px solid #DFDFDF;
	border-radius:2px 2px 2px;
	margin:0 auto;
	font-weight:bold;
	line-height:31px;
	text-indent:2em;
	cursor:pointer;
}

.navs .nav-list dt:hover{
/*	background:url(../images/navhoverblue.gif) no-repeat;
        color:#fff;*/
background-color:#357CD2;
}
.navs .nav-list dd{
	margin:10px 0 0 10px;	
}
.navs .nav-list dd ul li{
	background:url(../images/arr4.gif) no-repeat 0px 5px;
	text-indent:1.2em;
	height:20px;
}
.navs .nav-list dd ul li a{
	color:#333;
}
.page-mark{
	margin: 15px 3% 0;
	border-bottom:1px solid #DEE3E7;
	height:30px;
	line-height:30px;
}
.page-mark a{
	color:#000;
}
.page-mark a:hover{
	color:red;
}
.pagetab{
	margin: 20px 3% 0;
	border:1px solid #79C20D;
	background:#E5F5CE;
}
.pagetab ul{
	list-style:none;
	margin:0;
	padding:0;
	height:37px;
}
.pagetab ul li{
	float:left;
	display:inline-block;
	padding:10px 9px;
	margin:0 9px;
	font-weight:bold;
	cursor:pointer;
	position:relative;
}
.pagetab ul li:hover{
	background:#BFED74;
}
.pagetab ul li.selected{
	background:#91B259;
	color:#fff;	
}
.new{
	width:23px;
	height:11px;
	display:block;
	background:url(../images/new.gif) no-repeat;
	position:absolute;
	top:-5px;
	right:-10px;
}
/* Main Content */
section#main-content{
    width:96%;
    min-width: 276px;
    margin:0 auto;
}
section#main-content .container-fluid{
    margin:0 60px;
/*   border:1px solid green;*/
}
section#main-content .container-fluid .page-mark{
	margin:15px 0 15px 0;
}
section#main-content .container-fluid .all{
    margin:20px 0 30px  0;
}
.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
clear: both;
visibility:hidden;
}
.row-fluid{
    width:100%;  
}
.row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.box.box-transparent {
background: none;
padding: 0;
border: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.row-fluid .span12 {
width: 100%;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left:2.564102564102564%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row-fluid .span2 {
   width: 14.52991452991453%;
}


.box-quick-link {
text-align: center;
}
.box-quick-link .link-list .header {
    height: 60px;
    line-height: 60px;
    padding-bottom: 2px;
}
.box-quick-link .link-list .header .icon-comments{
    font-size:18px;
    color:#fff;
}
.box-quick-link .link-list .content {
text-transform: uppercase;
font-size: 90%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #5b5b5b;
background-color: #dbdbdb;
border-bottom: 1px solid #cecece;
padding: 5px;
}
.blue-background {
background-color: #00acec !important;
}
.green-background {
background-color: #49bf67 !important;
}
.orange-background {
background-color: #f8a326 !important;
}
.purple-background {
background-color: #9564e2 !important;
}
.red-background {
background-color: #f34541 !important;
}
.muted-background {
background-color: #999999 !important;
}



section#main {
width: 84%;
min-height: 500px;
background: url(../images/sidebar_shadow.png) repeat-y left top;
float: left;
margin-top: -2px;
}

#main h3 {
color: #1F1F20;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;
}
/* Modules */
.module {
	width: 100%;
	margin: 20px 3% 0 3%;
}
.ip{
	border: 1px solid #9BA0AF;
	background: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.synchro{
	margin:0 3% 0 3%;
	border-radius:0 !important;
}
#main .module header h3 {
display: block;
/*width: 90%;*/
float: left;
}
#main .indexwelcomeinfo header h3{
	cursor:pointer;	
}
#main .indexwelcomeinfo header h3.selected{
	text-decoration:underline;	
}
.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 93%;
}
.width_half {
width: 46%;
margin-right: 0;
float: left;
}

.width_quarter {
width: 26%;
margin-right: 0;
float: left;
}

.width_3_quarter {
width: 66%;
margin-right: 0;
float: left;
}

/* User Module */
.stats_graph {
width: 96%;
margin:0 auto;
}
.my-account{
float:left;
margin-right:60px;
overflow:hidden;
}
.user{
overflow:hidden;
margin:10px;
width:320px;
padding:0 80px 0 10px;
background:url(../images/userborder.gif) no-repeat right top;
}
.user .my-account-img{
display:block;
float:left;	
}
.user .my-account-img img{
display:inline-block;
width:98px;
height:98px;
border:3px solid #77BACE;
}
.my-account-info{
float:left;	
margin:0 0 0 10px;
}
.my-account-info h4{
margin:0;
padding:0;
}
.my-account-info p{
line-height:10px;
}
.my-account-info p span{
font-weight:bold;
}
.my-account-amend{
clear:both;
margin-top:120px;
}
.my-account-amend .user-status{
overflow:hidden;
padding:0;	
}
.my-account-amend .user-status li{
float:left;
display:inline-block;
list-style:none;
margin-right:10px;
padding-left:18px;
}
.my-account-amend .user-status li.userinfo{
background:url(../images/icn_settings.png) no-repeat 0px 2px;	
}
.my-account-amend .user-status li.userpw{
background:url(../images/icn_security.png) no-repeat 0px 2px;	
}
.my-account-amend .user-status li a{
display:block;
float:left;
text-align:left;
color:#000;
}
.my-tool-list{
	display:block;
	width:390px;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;	
}
.my-tool-list li{
	float:left;
	margin:3px 0 0 30px;
	width:100px;
	height:20px;
}
.my-tool-list li a{
	color:#666666;
	font-weight:300;
}
.my-tool-list li a:hover{
	color:#fff;
	background:#5FB0DF;
	text-decoration:none;
}
.my-tool-icon{
	display:inline-block;
	width:16px;
	height:17px;
	vertical-align:middle;
	margin-right:5px;
}
.my-tool-icon-a{
	background:url(../images/icn_edit.png) no-repeat;	
}
.my-tool-icon-b{
	background:url(../images/icn_categories.png) no-repeat;	
}
.my-tool-icon-c{
	background:url(../images/icn_folder.png) no-repeat;	
}
.my-tool-icon-d{
	background:url(../images/icn_add_user.png) no-repeat;	
}
.my-tool-icon-e{
	background:url(../images/icn_jump_back.png) no-repeat;	
}
.my-tool-icon-d{
	background:url(../images/icn_new_article.png) no-repeat;
}
.my-tool-icon-f{
	background:url(../images/icn_security.png) no-repeat;	
}
.stats_overview {
background: #F6F6F6;
border: 1px solid #ccc;
float: right;
width: 26%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.overview_today, .overview_previous {
width: 50%;
float: left;
}
.stats_overview p {
margin: 0; padding: 0;
text-align: center;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
}

.stats_overview p.overview_day {
font-size: 12px;
font-weight: bold;
margin: 6px 0;
}

.stats_overview p.overview_count {
font-size: 26px;
font-weight: bold;
color: #333333;}

.stats_overview p.overview_type {
font-size: 10px;
color: #999999;
margin-bottom: 8px;
}

/* Content Manager */

.tablesorter {
width: 100%;
}

.tablesorter td{
margin: 0;
padding: 0;
border-bottom: 1px dotted #ccc;
}

.tablesorter thead tr {
height: 34px;
background: url(../images/table_sorter_header.png) repeat-x;
text-align: left;
text-indent: 10px;
cursor: pointer;
}

.tablesorter td {
padding: 15px 10px;
}

.tablesorter input[type=image] {
margin-right: 10px;}

ul.tabs {
	margin: 3px 10px 0 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 24px; /*--Set height of tabs--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
ul.tabs li a {
	text-decoration: none;
	color: #999;
	display: block;
	padding: 0 10px;
	height: 24px;
}

ul.tabs li a:hover {
	color: #44474F;
}

html ul.tabs li.active a  {
	color: #44474F;
	}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #F1F2F4;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a  {
	-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a  {
	-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
display: block;
float: left;
}

/* Messages */

.message {
border-bottom: 1px dotted #cccccc;
}
input[type=submit]:hover {
color: #333333;
}

input[type=submit].alt_btn {
background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
border: 1px solid#30B0C8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #003E49;
text-shadow: 0 1px 0 #6CDCF9;
cursor: pointer;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].btn_post_message {
background: #D0D1D4 url(../images/post_message.png) no-repeat;
display: block;
width: 37px;
border: none;
height: 24px;
cursor: pointer;
text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
background-position: 0 -24px;
}

.post_message {
text-align: left;
padding: 5px 0;
}

.post_message input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #bbb;
height: 20px;
width: 70%;
color: #ccc;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
text-indent: 10px;
background-position: 10px 6px;
float: left;
margin: 0 3.5%;
}

.post_message input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
color: #666666;
}

.post_message input[type=image] {
float: left;
}

.message_list {
height: 250px;
overflow-x:hidden;
overflow-y: scroll;
}

/* New/Edit Article Module */

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1% 0%;
margin: 10px 0;
}

fieldset label {
display: block;
float: left;
width: 200px;
height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

fieldset input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0;
display: block;
float: left;
width: 96%;
margin: 0 10px;
}

fieldset input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
width: 96%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 96%;
margin: 0 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.submit_link {
float: right;
margin-right: 3%;
padding: 5px 0;
}
.searchtext{
	border:1px solid #CCCCCC;
	width:120px;	
	font-size:12px;
	color:#666666;
}
.link_title{
	margin-left:10px;
}
.submit_link select {
width: 110px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

#main .module_content h1 {
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
margin: 8px 0px;
}

#main .module_content h2 {
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
margin: 8px 0px;
}

#main .module_content h3 {
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content h4 {
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content li {
line-height: 150%;
}

/* Alerts */

#main h4.alert_info {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_warning {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_error {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_success {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}
/*table method*/
.searchform{
	margin-bottom:10px;	
}
.searchform input{
	vertical-align:middle;	
}
/*public table*/
.p-table{
	width:100%;
	border-collapse:collapse;
	margin-left:10px;
	margin:0px auto;
	text-align:center;
}
.p-table tr{
	border:1px solid #CCC;	
}
.p-table tr th{
	height:44px;
/*	line-height:44px;*/
	background:url(../images/table_sorter_header.png) repeat-x;
	border:1px solid #9BA0AF;
	width:150px;
	color:#333;
}

.p-table tr td{
	border:1px solid  #9BA0AF;	
	height:42px;
	line-height:30px;
	text-align:center;
}
.p-table tr td img{
	vertical-align:middle;	
	margin-left:5px;
}
.p-table tr td a,.p-table tr th a{
	color:#000000;
}
.p-table tr td a.update{
	display:block;
	width:77px;
	height:33px;
	background:url(../images/hoverbutton.gif) no-repeat;
	text-align:center;
	color:#fff;
	font-weight:bold;
	line-height:33px;
	margin:10px 0 10px 40px;
}
.p-table tr td a.update:hover{
	text-decoration:none;	
}
.p-table tr td a img{
	vertical-align:middle;
}
.p-table tr:hover{
	background:#D6D6D6;
}
.p-table tr th.case-table-title{
	width:570px;
}
.labtable{
	width:100%;
	border-collapse:collapse;
	text-align:left;
}
.labtable tr td{
	border:1px solid #D7DEDF;
	height:40px;
	padding:4px 0 4px 5px;
}
.labtable tr td.t1{
	width:200px;
}
/*课程分类管理*/
#course-table{
	width:100%;	
}
#course-table td.course-dtd{
	height:36px;
	background:url(../images/tbg.gif) repeat;	
}
#course-table td.course-info{
	padding:0 0 0 10px;	
	height:36px;
	border-bottom:1px solid #CFCFCF;
}
.course-title{
	float:left;
	margin-left:15px;
	margin-top:5px;	
}
.course-add{
	float:right;
	margin-right:10px;	
}
.course-add a.operate{
	display:block;
	width:70px;
	height:25px;
	text-align:center;
	line-height:25px;
	color:#FFFFFF;
	font-weight:bold;
	background:#999999;	
	float:left;
	margin-right:10px;
}
.course-add a.operate:hover{
	background:#000000;
	text-decoration:none;	
}
.course-list{
	width:100%;
}
.course-list tr{
	height:35px;
}
.course-list tr.bline{
	cursor:pointer;
}
.course-list tr.bline td{
	background:#FBFCE2;
	border-bottom:1px dashed #999999;
}
.course-list td.course-win1{
	width:5%;	
	padding-left:10px;
}
.course-list td.course-win2{
	width:40%;
	padding:0 10px 0 10px;	
}
.course-list td.opens{
        width:22px !important;
        padding:0 !important;
        
}
.course-list td.opens img{
        float:right;
        margin:4px 3px 0 0;
}
.course-list td.course-win3{
	width:40%;	
}
.course-list td.course-win4{
	width:15%;	
}
.course-list-list{
	width:100%;
	margin-left:30px;	
}
/*选课中心*/
.case-list{
	clear:both;
	overflow:hidden;	
}
.case-title{
	width:20%;
	height:50px;
	float:left;
	text-align:center;
	line-height:50px;
	margin-top:5px;
}
.case-title a{
	font-size:1.5em;
	color:#FFF;
	font-weight:bold;
}
.case-describe{
	width:80%;
	float:left;
}
.case-describe dd{
	float:left;	
	margin:-7px 10px 12px 10px;
	width:190px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#000;
	position:relative;
	display:inline-block;
}
.blue .case-title{background:#45A3BF;}
.blue .case-describe dd{background:#BFE1EA;}
.purple .case-title{background:#775F9D;}
.purple .case-describe dd{background:#D1C8DD;}
.green .case-title{background:#91B259;}
.green .case-describe dd{background:#DBE6C8;}
.bulef .case-title{background:#45A3BF;}
.bulef .case-describe dd{background:#C0E1EA;}
.search{
	width:94%;
	height:40px;
	line-height:40px;
	margin:20px 3% 0;
	background:#E2F6C5;
	padding:5px 0 5px 15px;
	border:1px solid #79C20D;
	border-radius: 5px 5px 5px 5px;
}
.search #searchtext{
	border:1px solid #CCC;
	height:25px;
	line-height:25px;
}
.search #searchbutton{
	background:url(../images/btn_submit_2.png) repeat-x;
	border:1px solid #17B4ED;
	height:25px;
	width:70px;
	font-weight:bold;
	margin-left:10px;
}
/*page list*/
.page{
	margin:10px 0;
	overflow:hidden;
	float:right;
	margin-right:10px;	
}
.page .page-list{
	list-style:none;
}
.page .page-list li{
	display:inline-block;
	float:left;
	margin:0 5px;
}
.page .page-list li a{
	display:block;
	width:20px;
	height:20px;
	border:1px solid #CCC;
	text-align:center;
	color:#000000;
}
.page .page-list li a:hover{
	background:#06F;
	text-decoration:none;
	color:#FFFFFF;
}
.page .page-list li.la a{
	background:#06F;
	color:#FFFFFF;
}
.page .page-list li.next a,.page .page-list li.last a,.page .page-list li.colophon a{
	width:60px;
}
.hidden{
	/*overflow:hidden;*/	
}
.hdds{
	overflow:hidden;
}
/*lab content*/
.lab-content{
	margin: 20px 3% 0;
}
.lab-content-list{
	margin-top:20px;
}
.lab-content-list .tab{
	list-style:none;
	overflow:hidden;
	margin:0;
	padding:0;
}
.lab-content-list .tab li{
	display:inline-block;
	float:left;
	margin:0 5px;
}
.lab-content-list .tab li a{
	display:block;
	width:92px;
	height:35px;
	text-align:center;
	line-height:35px;
	background:#666;
	border-radius:3px 3px 0 0;
	/*background:url(../images/tabliimg.gif) no-repeat;*/
	color:#FFFFFF;
	font-weight:bold;
}
.lab-content-list .tab li a:hover{
	text-decoration:none;	
}
.lab-content-list .tab li.selected a{
	background:#000;
}
.ptab{
	clear:both;
	border:2px solid #999;
/*
#FBDB7F
*/
}
.ptab .studycontent{
	border:1px solid #ccc;
}
.studycontent h2{
	background:url(../images/labtitibg.gif) repeat-x;
	height:32px;
	width:100%;	
	margin:0;
	border:1px solid #CCC;
	font-size:12px;
	line-height:32px;
	text-indent:1.5em;
}
.hide{
	display:none;	
}
/*studyCentre*/
.study-list .centre-list{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	border-bottom:5px solid #999;
}
.study-list .centre-list li{
	float:left;
	display:inline-block;
	margin:0 5px;
	text-align:center;
}
.study-list .centre-list li a{
	display:block;
	width:100px;
	height:30px;
	line-height:30px;
	color:#FFFFFF;
	font-weight:bold;
	background:#666666;
}
.study-list .centre-list li a:hover{
	text-decoration:none;	
}
.study-search{
	height:40px;
	padding:7px 5px 0 5px;
}
.study-content{
	background:#FFFFFF;	
	border:1px solid #999;
}
.searchs #searchtext,.searchs #searchselect{
	border:1px solid #CCC;
	height:23px;	
}
.searchs #searchbutton{
	border:0 none;
	background:url(../images/btn_submit_2.png) repeat-x;
	height:24px;
	width:50px;
	border:1px solid #1CADE8;
	vertical-align:central;
        border-radius:5px;
}
.centre-list li.selected a{
	background:#000000;
}
/*圆角*/
.round{
	-webkit-border-top-left-radius:1em;
	-webkit-border-top-right-radius:1em;
	-moz-border-radius-topleft:1em;
	-moz-border-radius-topright:1em;
	border-top-left-radius:1em;
	border-top-right-radius:1em;	
}

/*amdin*/
.function-main{
/*	position:relative;*/
	margin:20px 0 20px 0;
	overflow:hidden;
	min-height:1250px;
}
.maintool{
/*	position:absolute;*/
/*	width:99%;*/
	padding:0 5px;
	background:#F8F8F8;
}
.maintool .tool-list{
    border:1px solid #999999;
    border-radius:6px 6px 6px;
}
.maintool .tool-list:after{
    display:block;
    clear:both;
    content:"";
}
.maintool .module{
	margin:10px 0;
} 
.maintool .width_full{
	width:99%;
}
.maintool .width_quarter{
	margin-left:30px;
}
.f0{z-index:5; min-height:1000px;}
.f1{min-height:1500px;z-index:4;right:maintool-1500px;}
.f2{/**min-height:1500px;**/ z-index:3;right:-1500px; }
.f3{/**min-height:600px; **/z-index:2;right:-1500px; border:1px solid #999999;padding:0 !important; border-radius:6px 6px 6px;}
.f3 iframe{margin:0;}
.f4{min-height:1500px; z-index:1;right:-1500px;}
/*cloude map*/
.Coludlab-map{
	width:22%;
	float:left;
	height:120px;
        margin:10px 0;
        margin-left:2%;
/*        border:1px solid red;*/
}
.Coludlab-map-line{
	width:18%;
	float:left;
	margin-left:27px;
        margin-right:27px;
        padding-top:20px;
}
.Coludlab-map-line td{
    text-align:center;
}
.Coludlab-map-icon{
	width:92px;
	height:96px;
	float:left;
/*        margin-left:10px;*/
}
.cloudlab-map-list{
	margin:10px 0 0 10px;
	padding:0;
	list-style:none;
	float:left;
}
.cloudlab-map-list dt{
	font-size:16px;
	font-weight:bold;
	color:#000;
}
.cloudlab-map-list dd{
	color:#39F;
	margin:0;
	height:16px;
	font-weight:bold;
}
.map-desktop{
	background:url(../images/map_desktop.gif) no-repeat;
}
.map-course{
	background:url(../images/map_course.gif) no-repeat;
}
.map-exam{
	background:url(../images/map_exam.gif) no-repeat;	
}
.map-statistics{
	background:url(../images/map-statistics.gif) no-repeat;	
}
.map-user{
	background:url(../images/map-user.gif) no-repeat;
}
.map-cloud{
	background:url(../images/map-cloud.gif) no-repeat;	
}
.map-log{
	background:url(../images/map-log.gif) no-repeat;
}
.map-setting{
	background:url(../images/map-setting.gif) no-repeat;
}
/*
   后台全局搜索框
*/
.managerTool{
	 margin: 20px 3% 0;
	 padding:0px 0 0 10px;
	 height:15px;
	 line-height:15px;
}
.managerSearch{
	 margin: 20px 3% 0;
	 padding:0px 0 0 10px;
	 height:40px;
	 line-height:40px;
	 background:#EFEFEF;
	 border:1px dashed #999999;
}
.managerSearch input{
	border:1px solid #CCC;
	height:25px;
	vertical-align:middle;
	line-height:27px;
	color:#999999;
	width:150px;
        border-radius:5px;
}

input.inputSubmit,#searchbutton{
	border:0 none;
	height:25px;
        line-height:22px;
	width:70px;
	color:#FFFFFF;
	margin-left:10px;
	/*background:url(../images/buttuna.gif) no-repeat;*/
	vertical-align:middle;
	cursor:pointer;
	font-weight:bold;
        background-color: #357CD2;
        border-radius:5px;
}
input.inputSubmit:hover{
	color:#fff;	
}
.managerSearch select{
	background:#FFFFFF;
	border:0 none;
	height:27px;
	vertical-align:middle;
	border:1px solid #CCCCCC;
	text-align:center;
	margin-left:10px;
	width:120px;
}
.cancel{
	background: linear-gradient(to top, #54A2DE, #53A0E2) repeat scroll 0 0 #4F9CDD;
    border: 1px solid #246CA7;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	margin-right:10px;
	padding:2px;
}
.managerSearch .searchtxt{
	margin-left:10px;	
}
.right{
	float:right;
	margin-right:10px;	
}
#search_simple{
	float:left;	
}
#search_simple .searchtext{
	width:150px !important;	
}
.managerSearch .searchtxt a,.managerTool a{
	color:#000;
	font-weight:bold;
}
.managerTool .searchtxt a img{
	margin-right:5px;	
}
.managerSearch .searchtxt a:hover,.managerTool a:hover{
	color:#FF0000;	
}
/*page页*/
.manage-page{
	margin: 15px 3% 0;
	text-align:right;	
}
.page-operate{
	float:left;	
}
.page-operate select{
	border:1px solid #999;
	vertical-align:middle;	
}
#jumpvalue,#jumpbutton ,.manage-page select{
	vertical-align:middle;
	margin-right:10px;
}
#jumpvalue{
	text-align:center;
	width:20px;
	height:20px;
	border:1px solid #CCC;
	
}
#jumpbutton{
	border:1px solid #666;
	background:#357CD2;	
	color:#fff;
	height:22px;
	font-weight:bold;
}
.page-selsect select{
	vertical-align:middle;
}
.page-selsect .sizehight{
	color:#FF0000;
	font-weight:bold;
	font-size:14px;	
}
/*
* 课程管理
*/
.manageinfo{
	/*background:#357CD2;*/
                    border: 1px #DEE3E7 solid;
	border-radius:6px 6px 6px;
	overflow:hidden;
	padding:10px 0;
}
.manageinfo .inlet{
	float:left;
	display:inline-block; 
	width:22%;
	margin-left:22px;
	position:relative;
}
.manageinfo .inlet dt{
	color:#333;
	font-weight:bold;
	font-size:16px;	
        max-width:100px;
/*        border:1px solid red;*/
}
.manageinfo .inlet dl{
	margin:15px 0 0 10px;
	/*color:#fff;*/
}
.manageinfo .access{
	position:absolute;
	top:-1px;
	width:50px;
	height:25px;
	display:block;
	background:#357CD2;
	text-align:center;
	line-height:25px;
	border-radius:4px 4px 4px;
}
.manageinfo .course-enter-1{
    left:100px;
}
.manageinfo .course-enter-2{
    left:100px;
}
.manageinfo .course-enter-3{
    left:125px;
}
.manageinfo .course-enter-4{
    left:90px;
}

.manageinfo .access a{
	color:#FFF;	
}
.manageinfo .access:hover{
	background:#357CD2;	
}
.manageinfo .access a:hover{
	text-decoration:none;
}
.manage-tab{
	list-style:none;
	border-bottom:3px solid #666;
	overflow:hidden;
	padding:0;	
}
.manage-tab li{
	float:left;	
	margin:0;
	background:#666;
	margin-right:3px;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
       
}
.manage-tab li a{
	color:#fff;
        display:block;
        padding:10px 13px;
}
.manage-tab li a:hover{
	text-decoration:none;
}
.manage-tab li.selected{
	background:#357CD2;
}
/*系统设管理*/
#systeminfo{
	width:100%;	
}
#systeminfo tr{
	height:40px;
}
#systeminfo tr td{
	padding:0 10px 0 10px;	
	border-right:1px dashed #CCCCCC;
	border-bottom:1px dashed #CCCCCC;
}
#systeminfo tr td a{
	color:red;
	font-weight:bold;
}
#systeminfo tr td.title{
	background:#CCCCCC;	
	font-weight:bold;	
}
#systeminfo tr td.t2{
	width:20%;
	text-align:left;	
}
#systeminfo tr td.tt{
	text-align:right;
	width:40px;
}
.tabcontent{
	margin-top:0;
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}
.tabcontent table tr{
	height:60px;
}
.tabcontent table tr td input{
	border:1px solid #CCC;
	height:25px;
	width:190px;	
}

.tabcontent table tr td input[type="radio"],.tabcontent table tr td input[type="checkbox"]
{
	width:10px;
	vertical-align:middle;
}
.tabcontent table tr td input:hover{
	border:1px solid #060;
}
.save{
	/*background:url(../images/buttun.gif) no-repeat;*/
        background-color: #357CD2;
	border:0 none;	
	width:70px;
	height:30px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	float:left;
	margin-right:10px;
        border-radius:5px;
}
/**
	云
**/
.cloud-menu a{
	margin:60px 0 0 5%;
	display:block;
	width:152px;
	height:140px;
	float:left;
	background:url(../images/cloudMenu.png) no-repeat;
	text-indent:-9999em;
}
.cloud-menu a.m1{background-position:-2px 0px;}
.cloud-menu a.m1:hover{background-position:-2px -166px;}
.cloud-menu a.m2{background-position:-180px 0px;}
.cloud-menu a.m2:hover{background-position:-180px -166px;}
.cloud-menu a.m3{background-position:-357px 0px;}
.cloud-menu a.m3:hover{background-position:-357px -166px;}
.cloud-menu a.m4{background-position:-530px 0px;}
.cloud-menu a.m4:hover{background-position:-530px -166px;}
.cloud-menu a.m5{background-position:-709px 0px;}
.cloud-menu a.m5:hover{background-position:-709px -166px;}
.cloud-menu a.m6{background-position:-886px 0px;}
.cloud-menu a.m6:hover{background-position:-886px -166px;}
.cloud-menu a.m7{background-position:-1063px 0px;}
.cloud-menu a.m7:hover{background-position:-1063px -166px;}
.cloud-menu a.m8{background-position:-1238px 0px;}
.cloud-menu a.m8:hover{background-position:-1238px -166px;}
.cloud-menu a.m9{background-position:-1421px 0px;}
.cloud-menu a.m9:hover{background-position:-1421px -166px;}
.cloud-menu a.m10{background-position:-1601px 0px;}
.cloud-menu a.m10:hover{background-position:-1601px -166px;}
.vmip{
	margin:0 !important;
	display:block;
	width:100%;
	height:32px;
	background:url(../images/labtitibg.gif) repeat;
	line-height:32px;
	text-indent:2em;
} 

.vmContent{
	padding:15px;
	overflow:hidden;	
}
.vmContent dl{
	display:inline-block;
	float:left;	
	margin:20px;
}
.vmContent dl dt{
	width:37px;
	height:46px;
	background:url(../images/ipicon.gif) no-repeat;	
	margin:0 auto;
	line-height:39px;
	text-align:center;
	color:#fff;
	font-weight:bold;
}
.vmContent dl dd{
	margin:0;	
}
.vmContent dl dd a{
	font-weight:bold;
	color:#000000;
}
.vmContent dl dd a:hover{
	color:#F00;
}
.try-btn{
    padding:5px;
   float:right; 
}

.try-btn  a,.try-btn  a:hover{
    text-decoration:none;
}
.user-text{
    border-width: 1px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
font-size: 100%;
text-decoration: none;
color: black;
cursor: pointer;
padding: 2px 0px 2px 2px;
vertical-align: middle;
background-position: 10px;
background-repeat: no-repeat;
padding-left: 0px;
}
